@media only screen and (max-width: 575px){
  #hero .container h2{
    font-size: 2em;
  }

  #hero .container p{
    font-size: 1.2em;
  }

  .portfolio_filters li {
    font-size: 14px;
    margin: 0 5px;
  }
}

@media only screen and (max-width: 1199px){
  #header_section{
    left: -100%;
  }
}

@media only screen and (min-width: 1200px){
  .main, #footer_section{
    margin-left: 300px;
  }

  #header_section .header-toggle{
    display: none;
  }
}